
<html>
<head>
    <title>Links</title>
</head>
<body>
    <a href="Structure.html">My Inner File</a><br>
    <a href="https://youtube/UG2O_GK7-R8">Link To youtube</a>
   

    <table border = "2"> 
        <caption align="center">My Videos</caption>
        <tr>
            <td>Sr Number</td>
            <td>My Videos</td>

        </tr>
        <tr>
            <td>1</td>
            <td> <iframe height="250" width="350" src="https://youtube.com/embed/UG2O_GK7-R8"  ></iframe></tr></td>

        </tr>
        <tr>
            <td>2</td>
            <td> <iframe height="250" width="350" src="https://youtube.com/embed/Ftpj8LuDFWU"  ></iframe></tr></td>

        </tr>
        <tr>
            <td>3</td>
            <td> <iframe height="250" width="350" src="https://youtube.com/embed/EjaoYGTinus"  ></iframe></tr></td>

        </tr>

    </table>
    
</body>    


</html>